<section id='total'>
  <h3>Total People: <%= @members.length %></h3>
</section>
<section class='info'>
  <ul>
    <% @members.first(25).each do |member| %>
      <li>

      </li>
    <% end %>
  </ul>
</section>
